footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 0.8em;
  background-color: white;
  color: $color-darkGray;
  font-size: 1.2rem;
  padding: 1% 2% 0 2%;
}

footer i {
  font-size: 2rem;
  padding-right: 15px;
}
