html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(#ffff, #e5e5e5);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}
